<div class="footer">
  <p class="h3">
    Copyright © <span id="year"></span> Earnest All Right Reserved
  </p>
</div>
<script>
  var date = new Date();
  document.getElementById("year").innerHTML = date.getFullYear();
</script>