<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est similique itaque quam tempore iste odit labore nisi,
        error veritatis, eos cupiditate facere quisquam quibusdam. Incidunt ab quibusdam voluptatem velit veritatis!</p>
    <a href="http://faztweb.com" class="btn btn-primary btn-lg"><i class="fas fa-search"></i>FaztWeb</a>
    
</div>